* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: white;
  background: black;
}

#mastHead{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

h1 {
  display: inline-block;
  font-size: 36px;
}

img {
  display: block;
  justify-content: center;
  padding-top: 10px;
  height: 200px;
}

#Me {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

nav a:hover {
  color: green;
}

section {
  margin-bottom: 20px;
  padding: 50px;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: green;
  color: #ffffff;
  border-radius: 25px;
  padding: 25px;
}

.work img {
  width: auto;
  height: auto;
  border-radius: 25px;
}

.sub-container {
  text-align: left;
  align-content: center;
  text-decoration: white;
}

.flex-container {
  display: flex;
}


footer {
  text-align: center;
}

.work {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {

h1 {
  float: none;
  margin: auto;
  text-align: center;
  border-style: none;
}
  
a {
  top: 0px;
  margin: auto;
}

nav {
  float: none;
  margin-right: 0px;
}

}